In [50]:
import os
import hashlib
import pandas as pd

csv_path = os.path.join(os.curdir, "datasets", "dataset - Privacy-Engineering.csv")
df = pd.read_csv(csv_path)

In [51]:
columns_to_drop = ["ancestry"]
df = df.drop(columns_to_drop, axis=1)

In [52]:
salt = b"\x91\xff=s\x18?JH\x940\xf1$wN\xa4\xbf\x9f\xcdi\x8c\xa2\xf3\xe3I\xeb\xf4\x1f\xc0y\x94\x84\xa8"

df.id = df.id.apply(lambda x : hashlib.sha512(str(x).encode() + salt).hexdigest())

In [53]:
def more_than_2_children(x):
    if isinstance(x, str): return x
    elif x == 0: return '0'
    elif x == 1: return '1'
    elif x > 1: return '2+'

df.children=df.children.apply(more_than_2_children)

In [54]:
def more_than_1_hour(x):
    if isinstance(x, str): return x
    elif x == 0.0: return '0'
    elif x <= 1.0: return '1.0-'
    elif x > 1.0: return '+1.0'

df.commute_time=df.commute_time.apply(more_than_1_hour)

In [55]:
def get_year_ob(x):
    y=x.split('/')
    return y[1]
df.dob=df.dob.apply(get_year_ob)

In [56]:
df.head(5)

,id,gender,dob,zipcode,education,employment,children,marital_status,number_vehicles,commute_time,accommodation,disease
0,97eb7a57528a1baea5a7be646149f9d75cc53f3c5ba87f...,female,1950,26904,High School,Retired,2+,married,2,0,Own house,Alzheimer's disease
1,730151ea90e546b7b8fe5911d91ac943a9095ebb6691ba...,female,1940,78088,PhD/md,Retired,1,married,1,0,Rent flat,multiple sclerosis
2,ef150a1bf99c1188ff526b1408d959e2cdb1729c4f1153...,female,1966,51502,Bachelor,Employed,1,married,0,1.0-,Rent flat,heart disease
3,d9240d1730615fa39e50b22de35439c79814e162454e9e...,female,1943,54080,Bachelor,Retired,1,married,0,0,Rent room,endometriosis
4,a445d7cdb7efbbc10c59a27331869c8151ddb55313fcd0...,female,1947,68785,High School,Retired,1,married,0,0,Rent flat,gastritis